---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
---

<MainLayout title="NOCSI">
  <section 
    class="hero-section space-y-6 py-12 md:pb-16 md:pt-12 lg:py-40"
  >
    <div
      class="container flex max-w-[64rem] flex-col items-center gap-4 text-center"
    >
      <h1
        class="font-heading text-3xl sm:text-5xl md:text-6xl lg:text-7xl balance-text"
      >
        Privacy<span class="font-sans font-bold"> & </span>Sec<span class="font-sans font-bold">urity</span>
      </h1>
      <p
        class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 balance-text"
      >
        Both are rooted in ownership.
        <strong>We are your sovereign privacy solution.</strong>
      </p>
      <div class="space-x-4">
        <a
          href="/products/"
          class={cn(buttonVariants({ size: "lg" }))}
        >
          Learn More
        </a>
      </div>
    </div>
  </section>
</MainLayout>
