<div class="pt-10">
  <div class="mb-16 flex flex-col max-w-screen-sm px-4 md:px-0 mx-auto">
    <p class="text-gray-600">
      NOCSI is built by developer advocates who understand the power of
      community. We want to help you deliver a stellar member experience,
      quantify your business impact, and become the next generation of community
      and DevRel leadership.
    </p>
  </div>

  <div
    class="mb-16 flex flex-row flex-wrap max-w-screen-sm px-4 md:px-0 mx-auto justify-center"
  >
    <div class="w-2/3 sm:w-1/3 mb-8 px-4 flex flex-col items-center">
      <img
        alt=""
        src="/assets/images/team/loc-n-avatar.jpeg"
        class="rounded-full w-3/4 block mb-4"
      />
      <span class="text-gray-800 font-bold text-lg">Ngan N</span>
      <span class="mb-2 text-sm text-gray-600">Co-Founder & CEO</span>
      <div class="w-full flex flex-row justify-around">
        <a
          href="https://www.linkedin.com/in/nganngo/"
          class="text-sm text-red-600"
          >LinkedIn</a
        >
        <a
          href="https://twitter.com/patrickjwoods/"
          class="text-sm text-red-600"
          >Twitter</a
        >
      </div>
    </div>
    <div class="w-2/3 sm:w-1/3 mb-8 px-4 flex flex-col items-center">
      <img
        alt=""
        src="/assets/images/team/loc-n-avatar.jpeg"
        class="rounded-full w-3/4 block mb-4"
      />
      <span class="text-gray-800 font-bold text-lg">Loc N</span>
      <span class="mb-2 text-sm text-gray-600">Co-Founder & CTO</span>
      <div class="w-full flex flex-row justify-around">
        <a
          href="https://www.linkedin.com/in/locngu/"
          class="text-sm text-red-600"
          >LinkedIn</a
        >
        <a href="https://twitter.com/dzello/" class="text-sm text-red-600"
          >Twitter</a
        >
      </div>
    </div>
  </div>
</div>
