
<section class="container mx-auto py-24 px-4">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-y-10 md:gap-y-32 gap-x-10 md:gap-x-24 items-center mb-24">
    <div>
      <h2 class="text-center sm:text-left text-black text-2xl md:text-4xl font-extrabold tracking-tight leading-tight mb-4">Sovereign Security</h2>
      <p class="text-center sm:text-left text-base md:text-lg text-blue-900 mb-5">
        Don't trust <u>unless it's you.</u> With an ever-expanding range of Platform as a Service (PaaS) offerings in the world, security is grounded in ownership & control.
      </p>
      <a href="/products/noc" class="inline-block mb-3 md:mb-2 text-sm font-medium text-gray-300 hover:text-primary transition-colors duration-100 ease-in">
      <button class="flex mx-auto mt-20 text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">Learn More</button>
      </a>
    </div>
    <img
      alt=""
      src="/assets/images/sovereign_security.svg"
    />
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-y-10 md:gap-y-32 gap-x-10 md:gap-x-24 items-center flex-col-reverse">
    <div class="order-none md:order-2">
      <h2 class="text-center sm:text-left text-black text-2xl md:text-4xl font-extrabold tracking-tight leading-tight mb-4">Boutique Solutions</h2>
      <p class="text-center sm:text-left text-base md:text-lg text-blue-900 mb-5">
        Straightforward solutions to your novel problems. Leverage our decades of experience designing and building security. We can assess, design and implement solutions for an increasingly connected world.
      </p>
      <a href="/services" class="inline-block mb-3 md:mb-2 text-sm font-medium text-gray-300 hover:text-primary transition-colors duration-100 ease-in">
      <button class="flex mx-auto mt-20 text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">Learn More</button>
      </a>
    </div>
    <img
      alt=""
      src="/assets/images/boutique_solutions.svg"
    />
  </div>
</section>