<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="bg-white antialiased">
  <head>
    <title>{{ renderData.title or title or meta.title }}</title>
    {% include "meta.njk" %}
    <link rel="stylesheet" href="/css/main.css?v={% version %}"/>
    <link rel="stylesheet" href="/css/_base.css?v={% version %}"/>
    <link rel="stylesheet" href="{{ '/css/prism.css' | url }}" />
    <script defer src="/js/alpine.js?v={% version %}"></script>
    <script defer src="/js/main.js?v={% version %}"></script>
  </head>
  <body class="text-gray-900">
    <div hidden>{% svgsprite %}</div>
    <a href="#content" class="sr-only">skip to main content</a>
    <div
      role="document"
      class="min-h-screen flex flex-col"
      x-data="{ showModal: false }"
      @keydown.escape="showModal = false"
      @togglemodal="showModal = $event.detail.value"
    >
      <main class="flex-grow">
        {{ content | safe }}
      </main>
      {% include "early-access-form.njk" %}
    </div>

    <!-- LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
  </body>
  {% include "alpine-methods.njk" %}
</html>
