<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="bg-white antialiased">
  <head>
    <title>{{ renderData.title or title or meta.title }}</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "meta.njk" %}
    <link rel="stylesheet" href="/css/main.css?v={% version %}"/>
    <link rel="stylesheet" href="/css/_base.css?v={% version %}"/>
    <link rel="stylesheet" href="{{ '/css/prism.css' | url }}" />
    <script defer src="/js/alpine.js?v={% version %}"></script>
    <script defer src="/js/main.js?v={% version %}"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfWSyodAAAAAINQRg7vwz5XGNj_7W3LtD2rLA4s">
      grecaptcha.ready(function() {
       grecaptcha.execute('6LfWSyodAAAAAINQRg7vwz5XGNj_7W3LtD2rLA4s', {action: 'homepage'})
       .then(function(token) {
         document.getElementById('captchaResponse').value = token;
       });
     });
    </script>
  </head>
  <body class="text-gray-900">
    <div hidden>{% svgsprite %}</div>
    <a href="#content" class="sr-only">skip to main content</a>
    <div
      role="document"
      class="min-h-screen flex flex-col"
      x-data="{ showModal: false }"
      @keydown.escape="showModal = false"
      @togglemodal="showModal = $event.detail.value"
    >
      <main class="flex-grow w-full">
        {{ content | safe }}
      </main>
      {% include "early-access-form.njk" %}
    </div>

    <!-- LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
  </body>
  {% include "alpine-methods.njk" %}
</html>
